<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>jspservlet.servlet.LoginServlet</servlet-class>
	</servlet>
	<welcome-file-list>
		<welcome-file>/begin.jsp</welcome-file>
	</welcome-file-list>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SigninServlet</servlet-name>
		<servlet-class>jspservlet.servlet.SigninServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SigninServlet</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShopServlet</servlet-name>
		<servlet-class>jspservlet.servlet.ShopServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShopServlet</servlet-name>
		<url-pattern>/shopping</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>jspservlet.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProdServlet</servlet-name>
		<servlet-class>jspservlet.servlet.ProdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProdServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddtocartServlet</servlet-name>
		<servlet-class>jspservlet.servlet.AddToCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddtocartServlet</servlet-name>
		<url-pattern>/showitem</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>ShowEachServlet</servlet-name>
		<servlet-class>jspservlet.servlet.ShowEachServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowEachServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
        <servlet>
		<servlet-name>DeleProdServlet</servlet-name>
		<servlet-class>jspservlet.servlet.DeleProdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleProdServlet</servlet-name>
		<url-pattern>/shoppingchart</url-pattern>
	</servlet-mapping>
	       <servlet>
		<servlet-name>MessageServlet</servlet-name>
		<servlet-class>jspservlet.servlet.MessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageServlet</servlet-name>
		<url-pattern>/message</url-pattern>
	</servlet-mapping>	       <servlet>
		<servlet-name>addMesServlet</servlet-name>
		<servlet-class>jspservlet.servlet.addMesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addMesServlet</servlet-name>
		<url-pattern>/newmessage</url-pattern>
	</servlet-mapping>
</web-app>
